body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.5s;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Gloria Hallelujah', cursive;
}

.big-image1 img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.big-image1 h1 {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6em;
}

.edge-images {
    display: flex; 
    justify-content: space-between; 
}

.edge-images > div {
    flex: 1; 
}

.edge-images img {
    position: relative;
    width: 100%; 
    height: 430px;
    display: block; 
    object-fit: cover; 
}

.edge-images h1{
    color: #ffffff;
    position: relative;
    bottom: 50%;
    right: 100%;
    font-size: 1.8em;
}

.portraits {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(255, 0, 179);
    border-radius: 8px;
    background-color: #1c0030; 
    text-align: center;
    color: #fff;
}

.portraits img {
    width: 240px;
    height: 250px; 
    margin-bottom: 10px;
    border-radius: 8px; 
    border: 1px solid #ff69b4; 
}

.portraits p{
    font-size: large;
    font-family: 'Gloria Hallelujah', cursive;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
}

h1 {
    color: #e600ff;
}

h2 {
    color: #ed9bf7;
}

nav {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 0, 221);
    opacity: 85%;
    padding: 2% 0;
    overflow: hidden;
    text-align: center; 
    transition: background-color 0.5s;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

.nav-group {
    margin: 0;
    padding: 0;
}

.brand {
    color: rgb(255, 0, 255);
    font-size: 2.5em;
    padding: 5px 1px;
    display: inline-block; 
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-item {
    position: absolute;
    left: 0;
    font-size: x-large;
    font-family: 'Gloria Hallelujah', cursive;
}

.middle-item {
    position: absolute;
    left: 46%;
    height: 50px;
}

.right-item {
    position: absolute;
    right: 10px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-right: 20px; 
}

.social-links a {
    display: block;
    color: #f200ff;
    text-decoration: none;
    margin: 20px 10px;
}

.social-links a:hover {
    text-decoration: underline;
}

.social-links ion-icon {
    color: #fb00ff; 
}

.right-item .social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-item .social-links a {
    margin: 0 10px;
}

a {
    display: block;
    color: rgb(235, 145, 255);
    padding: 0px 25px;
    text-decoration: none;
}

a:hover {
    transform: scale(1.2);
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

#darkModeToggle {
    background-color: rgb(81, 0, 104);
    color: rgb(255, 107, 215);
    padding: 8px 12px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

#darkModeToggle:hover {
    background-color: #000;
    color: #fff;
}

.Link-events {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff69b4; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 1s ease;
}

.Link-events:hover {
    background-color: #d1478e;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container h2 {
    font-size: xx-large;
    color: #e600ff;
    font-family: 'Gloria Hallelujah', cursive;
}

.search-form {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgb(255, 0, 212);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
}

.search-form h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.search-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.search-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #e600ff;
}

.search-form input,
.search-form select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 0, 212);
    border-radius: 4px;
    box-sizing: border-box;
}

.search-form button {
    background-color: #e600ff;
    width: 20%;
    padding: 10px;
    margin: 0 auto 15px; 
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
    font-family: 'Arimo', sans-serif;
}

.details-h2 h2{
    font-size: xx-large;
    max-width: 300px;
    margin: 0 auto;
    background-color: #000;
    color: #ff69b4; 
    padding: 10px; 
    border: 1px solid #ff69b4; 
    border-radius: 5px; 
}

.concert-details {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgb(255, 0, 212);
    border-radius: 8px;
    background-color: #000000;
}

.concert-details h3 {
    color: rgb(255, 0, 132);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.concert-details p {
    color: #fff;
    margin: 5px 0;
}

.concert-details button {
    background-color: #ff69b4; 
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.concert-details button:hover {
    background-color: #d1478e; 
}

.back-button {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.purchase-form {
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #e600ff;
    box-shadow: 0 0 5px rgba(230, 0, 255, 0.5);
}

button {
    background-color: #e600ff;
    color: #fff;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc00e6;
}

@media only screen and (max-width: 600px) {
    .purchase-form {
        max-width: 100%;
    }
}

.music-head1 h1{
    font-size: 3em;
}

.music-h2{
    font-size: x-large;
    font-family: 'Gloria Hallelujah', cursive;
}

#streaming-platforms {
    max-width: 1300px;
    margin: 20px auto;
    padding: 50px 20px;
    background-color: #1d0031;
    border: 1px solid #ff00bb; 
    border-radius: 8px; 
    text-align: center;
}

#streaming-platforms h2 {
    color: #fff;
    font-size: 2em; 
    margin-bottom: 20px;
}

.platforms-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.platform {
    margin: 10px;
    padding: 10px;
    background-color: transparent; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
}


.platform:hover {
    transform: scale(1.05); 
}

.platform img {
    max-width: 150px; 
    height: auto;
}

.platform p {
    color: #fff; 
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
}


#top-songs {
    max-width: 1300px;
    margin: 20px auto;
    padding: 50px 20px;
    background-color: #1d0031;
    border: 1px solid #ff00bb;
    border-radius: 8px;
}

.song-list {
    list-style: none;
    padding: 0;
}

.song-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-buttons {
    display: flex;
    flex-direction: column;
}

.spotify-button,
.apple-music-button {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.spotify-button{
    background-color: rgb(0, 166, 0);
    width: 125px;
    margin: auto;
}

.apple-music-button {
    background-color: #ff2d55;
    width: 165px;
    margin: auto;
    margin-top: 10px;
}

.song-info img {
    width: 125%;
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.song-info h3 {
    margin-bottom: 5px; 
    color: #fff; 
    font-size: 1.2em; 
    font-family: 'Gloria Hallelujah', cursive;
}

#top-albums {
    max-width: 720px;
    margin: 10px auto;
    padding: 10px;
    background-color: #23003c;
    border: 1px solid #ff0095;
    border-radius: 8px;
}

.album-list {
    list-style: none;
    padding: 0;
}

.album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.music-buttons {
    display: flex;
    flex-direction: column;
}

.spotify-button,
.apple-music-button {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.spotify-button {
    background-color: rgb(0, 166, 0);
    width: 125px;
    margin: auto;
}

.apple-music-button {
    background-color: #ff2d55;
    width: 165px;
    margin: auto;
    margin-top: 10px;
}

.album-info img {
    width: 100%; 
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px; 
}


.album-info h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Gloria Hallelujah', cursive;
}



