body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.5s;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Gloria Hallelujah', cursive;
}

.portraits {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(255, 0, 179);
    border-radius: 8px;
    background-color: #1c0030; 
    text-align: center;
    color: #fff;
}

.portraits img {
    width: 240px; /* Adjust the width to your preference */
    height: 250px; /* Adjust the height to your preference */
    margin-bottom: 10px;
    border-radius: 8px; /* Adjust the radius to curve the corners */
    border: 1px solid #ff69b4; /* Bright pink border */
}

.portraits p{
    font-size: large;
    font-family: 'Gloria Hallelujah', cursive;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center the content within the container */
}

h1 {
    color: #e600ff;
}

h2 {
    color: #ed9bf7;
}

/* Navigation styles */
nav {
    background-color: #333;
    padding: 2% 0;
    overflow: hidden;
    text-align: center; /* Center the text within the nav */
    transition: background-color 0.5s;
    position: fixed; /* Fixed position to stay at the top */
    width: 100%; /* Take up the full width of the viewport */
    top: 0; /* Align to the top of the viewport */
    z-index: 1000; /* Ensure it appears above other content */
}

.nav-group {
    margin: 0;
    padding: 0;
}

.brand {
    color: rgb(255, 0, 255);
    font-size: 24px;
    padding: 5px 10px;
    display: inline;
    font-size: xx-large;
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: -10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-item {
    position: absolute;
    left: 0;
    font-size: x-large;
    font-family: 'Gloria Hallelujah', cursive;
}

.middle-item {
    position: absolute;
    left: 46%;
    height: 50px;
}

.right-item {
    position: absolute;
    right: 10px;
}

/* Adjust the positioning of social links within social-links */
.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
    margin-right: 20px; /* Add margin to the right side of social links */
}

.social-links a {
    display: block;
    color: #f200ff;
    text-decoration: none;
    margin: 20px 10px; /* Add margin to separate social links */
}

.social-links a:hover {
    text-decoration: underline;
}

.social-links ion-icon {
    color: #fb00ff; /* Update the color of social icons */
}

/* Adjust the positioning of social links within right-item */
.right-item .social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-item .social-links a {
    margin: 0 10px;
}

a {
    display: block;
    color: rgb(235, 145, 255);
    padding: 0px 25px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(153, 0, 255);
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

/* Toggle dark mode button styles */
#darkModeToggle {
    background-color: rgb(81, 0, 104);
    color: rgb(255, 107, 215);
    padding: 8px 12px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

#darkModeToggle:hover {
    background-color: #000;
    color: #fff;
}

.Link-events {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff69b4; /* Bright pink background color */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 1s ease; /* Add a smooth transition effect */
}

.Link-events:hover {
    background-color: #d1478e; /* Lighter pink color on hover */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container h2 {
    font-size: xx-large;
    color: #e600ff;
    font-family: 'Gloria Hallelujah', cursive;
}

/* Search Form styles */
.search-form {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgb(255, 0, 212);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
}

.search-form h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.search-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.search-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #e600ff;
}

.search-form input,
.search-form select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 0, 212);
    border-radius: 4px;
    box-sizing: border-box;
}

.search-form button {
    background-color: #e600ff;
    width: 20%;
    padding: 10px;
    margin: 0 auto 15px; 
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
    font-family: 'Arimo', sans-serif;
}

.details-h2 h2{
    font-size: xx-large;
    max-width: 300px;
    margin: 0 auto;
    background-color: #000; /* Black background color */
    color: #ff69b4; /* Bright pink text color */
    padding: 10px; /* Adjust the padding as needed */
    border: 1px solid #ff69b4; /* Bright pink 1px outline */
    border-radius: 5px; /* Add rounded corners */
}

.concert-details {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgb(255, 0, 212);
    border-radius: 8px;
    background-color: #000000;
}

/* Style the concert title */
.concert-details h3 {
    color: rgb(255, 0, 132);
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Style other details */
.concert-details p {
    color: #fff;
    margin: 5px 0;
}

/* Style the "Buy Tickets" button */
.concert-details button {
    background-color: #ff69b4; /* Pink color */
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

/* Hover effect for the button */
.concert-details button:hover {
    background-color: #d1478e; /* Lighter pink color */
}

.back-button {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.purchase-form {
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #e600ff;
    box-shadow: 0 0 5px rgba(230, 0, 255, 0.5);
}

button {
    background-color: #e600ff;
    color: #fff;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc00e6;
}

/* Additional styles for responsiveness */
@media only screen and (max-width: 600px) {
    .purchase-form {
        max-width: 100%;
    }
}

.music-head1 h1{
    font-size: xx-large;
}

#streaming-platforms {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2d004d;
    border: 1px solid #ff00bb;
    border-radius: 8px;
}

#streaming-platforms ul {
    list-style: none;
    padding: 0;
}

#streaming-platforms li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#streaming-platforms li img {
    margin-right: 10px;
    max-height: 30px; /* Adjust as needed */
}

#top-songs {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1d0031;
    border: 1px solid #ff00bb;
    border-radius: 8px;
}

.song-list {
    list-style: none;
    padding: 0;
}

.song-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-buttons {
    display: flex;
    flex-direction: column;
}

.spotify-button,
.apple-music-button {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.spotify-button{
    background-color: rgb(0, 166, 0);
    width: 125px;
    margin: auto;
}

.apple-music-button {
    background-color: #ff2d55;
    width: 165px;
    margin: auto;
    margin-top: 10px;
}

.song-info img {
    width: 125%; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the fixed dimensions */
    border-radius: 5px;
    margin-bottom: 10px;
}

.song-info h3 {
    margin-bottom: 5px; /* Adjust space between h3 and image */
    color: #fff; /* Text color */
    font-size: 1.2em; /* Adjust font size as needed */
    font-family: 'Gloria Hallelujah', cursive;
}

